
<p id="notice"><%= notice %></p>

<% if user_signed_in? %>
  <%= link_to 'Make a Bounty', new_listing_path, class:'btn flex w-44 justify-center items-center ' %>
<% end %>

<br>


<div class="flex flex-row flex-wrap justify-center">


  <% @listings.each do |listing| %>
    <div class="listings_card">
      <div class="card_header">
        <%# TITLE %>
        <% if listing.completed? %>
          <h3 class="card_title bg-gradient-to-r  from-green-500 to-green-400">
            <%= listing.title %>
          </h3>
        <% else %>
          <h3 class="card_title bg-gradient-to-r  from-red-500 to-red-400"><%= listing.  title %></h3>
        <% end %>
        <%# IMAGE %>
        <%= image_tag listing.image, class: 'card_image' %>
      </div>

      <%# DATE %>
      <span class="card_date" >
        Lost Date: <%= listing.lost_date %>
      </span>

      <%# DESCRIPTION %>
      <p class="card_description">
        <%= listing.description.first(50) %>
        <% if listing.description.length > 30 %>
          <span>...</span>
        <% else %>
          <br>
        <% end %>
      </p>

      <%# USERNAME %>
      <span class="card_username">
        Posted By: <%= listing.user.username %>
      </span>

      <%# LINKS %>
      <div class="flex pb-2 justify-evenly ">
        <button class="btn w-16">
          <%= link_to 'View', listing %>
        </button>
        <% if user_signed_in? %>
          <% if listing.user.username == current_user.username %>
            <button class="btn w-16">
              <%= link_to 'Edit', edit_listing_path(listing) %>
            </button>
            <button class="btn w-20 bg-red-700 hover:text-red-700">
              <%= link_to 'Delete', listing, method: :delete, data: { confirm: 'Are you sure?' } %>
            </button>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>

</div>