<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @listing.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @listing.description %>
</p>

<p>
  <strong>Lost date/time:</strong>
  <%= @listing.lost_date %>
</p>

<p>
  <strong>Completed:</strong>
  <%= @listing.completed %>
</p>

<p>
  <strong>image</strong>
  <%= image_tag @listing.image %>
</p>

<%= link_to 'Edit', edit_listing_path(@listing) %> |
<%= link_to 'Back', listings_path %>
