<p id="notice"><%= notice %></p>

<div class="show_container">
  <div class="show_header">
    

    <div class="heading_box_1">
      <%= image_tag @listing.image, class: 'show_image' %>
    </div>

    <div class="heading_box_2">
      <h2><%= @listing.title %></h2>
      <span>Posted by <strong><%= @listing.user.username %></strong></span>
      <% if @listing.completed %>
        <span class="text-center bg-gradient-to-r from-green-500 to-green-400">COMPLETED</span>
      <% else %>
        <span class="text-center bg-gradient-to-r from-red-500 to-red-400">PENDING COMPLETION</span>
      <% end %>
      <span>Disappeared at <%= @listing.lost_date %></span>
    </div>

  </div>
  <div class="show_body">
    <p>
      <%= @listing.description %>
    </p>
  </div>
</div>

<div class="flex flex-row">
  <% if user_signed_in? %>
    <% if @listing.user.username == current_user.username %>
      <%= link_to 'Edit', edit_listing_path(@listing), class: 'btn mt-5 mr-2 text-center w-20' %>
    <% end %>
  <% end %>
  <%= link_to 'Back', listings_path, class: 'btn mt-5 ml-2 text-center w-20 btn_red' %>
</div>